name: CI

on:
  pull_request:

env:
  CI: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.6

      - name: Install packages
        run: bun install --frozen-lockfile

      - name: Build Astro
        run: bun astro build
